

{% load static %}


<!DOCTYPE html>
<html lang="en">


 <head>   
    <title>{% block title %}My Blog{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %} ">
<script src ="{% static "assets/js/jquery.nicescroll.min.js" %}"></script>
<script src ="{% static "assets/js/ajax.js" %}"></script>

</head>


<body>
                            <li><a href="/admin/">Admin</a></li>
                        {% if not user.is_authenticated %}

                    <li><a href="/accounts/register/">Registration</a></li>
                     <li><a href="/accounts/login/">Login</a></li>

                         {% endif %}
    <div id="page">
        <div id="sidebar">
            {% block sidebar %}
                <ul>

                <li><a href="/articles/">Articles</a></li>
                {% if user.is_authenticated %}

                    
                    <li><a href="/my_articles/">My Articles</a></li>
                    <li><a href="/accounts/loggedin/">Personal page</a></li>
                    <li><a href="/edit_articles/">Edit your post</a></li>
                   
                {% endif %}
                </ul>

                  <h2>Search</h2>
                {% csrf_token %}
                <input type="text" id="search" name="search" />
                <ul id="search_results">
                    
                </ul>

            {% endblock %}
        </div>


        <div id="content">
            {% block content %}{% endblock %}
            <img src="{% static "assets/images/python.jpg"%}"  align="right" width="100" />

        </div>

    </div>
</body>

</html>>    