

{% load static %}

                      


 <head>   
    <title>{% block title %}Login Page{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %} ">
<script src ="{% static "assets/js/jquery-2.1.4.min.js" %}"></script>
<script src ="{% static "assets/js/ajax.js" %}"></script>

</head>


<body>
                    
                    <ul>
                        <FORM METHOD="LINK" ACTION="/admin/"><INPUT TYPE="submit" VALUE="Admin"></FORM>
                        <FORM METHOD="LINK" ACTION="/accounts/loggedin/"><INPUT TYPE="submit" VALUE="Personel Page"></FORM>
                        {% if not user.is_authenticated %}
                        <FORM METHOD="LINK" ACTION="/accounts/register/"><INPUT TYPE="submit" VALUE="Registeration"></FORM>
                        <FORM METHOD="LINK" ACTION="/accounts/login/"><INPUT TYPE="submit" VALUE="Login"></FORM>
                        {% endif %}
                    </ul>
    <div id="page">
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                <FORM METHOD="LINK" ACTION="/articles/"><INPUT TYPE="submit" VALUE="Articles"></FORM>
                
                {% if user.is_authenticated %}
                <FORM METHOD="LINK" ACTION="/my_articles/"><INPUT TYPE="submit" VALUE="My Articles"></FORM>
                <FORM METHOD="LINK" ACTION="/add/post/"><INPUT TYPE="submit" VALUE="Add Article"></FORM>
                
                <FORM METHOD="LINK" ACTION="/edit_articles/"><INPUT TYPE="submit" VALUE="Edit your post"></FORM>

                  
                {% endif %}
                </ul>


                <h2>Search</h2>
                {% csrf_token %}
                <input type="text" id="search" name="search" />
                <ul id="search-results">
                    
                </ul>



            {% endblock %}
        </div>


        <div id="content">
            {% block content %}{% endblock %}
            

        </div>

    </div>
</body>

</html>   