{% extends "base.html" %}

{% block content %}
{% if form.errors %}
<p class="error">Sorry , that's not a valid username or password</p>
{% endif %}
        <form action="/accounts/auth/" method="post" >
                {% csrf_token %}
              <label for="username_field">User Name :</label>
              <input type="text" name="username" value="" id="username_field"></input>
              <label for="password_field">Password :</labe>
              <input type="password" name="password" value="" id="password_field"></input>
                
<input id="login_button" type="submit" value="LOGIN">                
                </form>

{% endblock %}